<style>
    body{
        background-image: url(https://images.pexels.com/photos/450441/pexels-photo-450441.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    }

    #loginPage{
        margin-top: 5%;
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input{
        width: 100%;
    }

    form{
        width: 30%;
        padding: 2%;
        background-color: rgba(70, 96, 67, 0.5);
    }

</style>
<div id="loginPage">
    <h1>Login</h1>

    {{#if error}}
        <p>{{error}}</p>
    {{/if}}

    <form action = "/login" method="POST">
        <label>Email</label>
        <input name="email" type="text"/>
        <br>
        <br>
        <label>Password</label>
        <input name="password" type="password"/>
        <br>
        <br>
        <input type="submit" value="Submit"/>

        <a href="/auth/google">Sign In with Google</a>
    </form>
</div>
