<style>
    body{
        background-image: url(https://images.pexels.com/photos/210205/pexels-photo-210205.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940);
    
    }

    #newEvent{
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
    }

    input, textarea{
        width: 100%;
    }

    form{
        width: 30%;
        padding: 2%;
        background-color: rgba(240, 207, 176, 0.5);
    }

</style>

<div id="newEvent">
    <br>
    <h1>New Event</h1>
    <br>
    <form method="post" action="/event", enctype="multipart/form-data" >
        <div>
            <label>Title</label>
        </div>
        <div>
            <input type="text" name="title" />
        </div>
         <div>
            <label>Start Time</label>
        </div>
        <div>
            <input type="time" name="startTime" />
        </div>
         <div>
            <label>End Time</label>
        </div>
        <div>
            <input type="time" name="endTime" />
        </div>
          <div>
            <label>Date</label>
        </div>
        <div>
            <input type="date" name="date" />
        </div>
        <br>
         <div>
            <label>Address</label>
        </div>
        <div>
            <input name="address" />
        </div>
        <div>
            <label>Details</label>
        </div>
        <div>
            <textarea name="details"></textarea>
        </div>
        <input type="file" name="picture"/>
        <div>
            <input type="submit" value="Submit Form" />
        </div>
    </form>
</div>