<div id="newBlog">
    <h1>New Event</h1>

    <form method="post" action="/upload" enctype="multipart/form-data">
        <div>
            <label>Title</label>
        </div>
        <div>
            <input type="text" name="title" />
        </div>
         <div>
            <label>Start Time</label>
        </div>
        <div>
            <input type="time" name="startTime" />
        </div>
         <div>
            <label>End Time</label>
        </div>
        <div>
            <input type="time" name="endTime" />
        </div>
          <div>
            <label>Date</label>
        </div>
        <div>
            <input type="date" name="date" />
        </div>
        <br>
         <div>
            <label>Address</label>
        </div>
        <div>
            <input name="address" />
        </div>
        <div>
            <label>Details</label>
        </div>
        <div>
            <textarea name="details"></textarea>
        </div>
        {{!-- <div>
            <label>Picture</label>
        </div> --}}
        <div class="file-field input-field">
            <div class="btn">
            <span>Picture</span>
                <input type="file" name="picture" multiple>
            </div>
            <div class="file-path-wrapper">
                <input class="file-path validate" type="text">
            </div>
        </div>
        <div>
            <input type="submit" value="Submit Form" />
        </div>
    </form>
</div>